#wrapper
{
width: 85%;
margin: 0 auto;
-webkit-box-shadow: 0px 0px 5px #ececec;
-moz-box-shadow:    0px 0px 5px #ececec;
box-shadow:         0px 0px 5px #ececec;
}

header
{
    height: 115px;
    background-color: #480048;
    width: 100%;
}

h1, h2
{
    color: #FFFFFFF;
    font-family: Geneva, sans-serif, arial;
}

section
{ 
    
}

footer
{
    height: 115px;
    background-color: #480048;
    width: 100%;
}

footer p
{
    color: #FFFFFF;
    font-family: Geneva, sans-serif, arial;
}